body {

    background: linear-gradient(to right,#1E3B70, #29539B);
    background-size: cover;
    background-repeat: no-repeat;
}

.radius-6 {
    border-radius: 6px;
}

.full-width {
    width: 100%;
}

.w-90 {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pl-42 {
    padding-left: 42px;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.fs-12 {
    font-size: 12px;
}

.active {
    color: #3f51b5 !important;
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.8);
}

.gr-indigo {
    background: linear-gradient(45deg, #1a237e  , #3f51b5  ) !important;
}

input:focus {
    border-bottom: 1px solid #3949ab   !important;
    box-shadow: 0 1px 0 0 #3949ab  !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #3949ab  !important;
    border-bottom: 2px solid #3949ab  !important;
}

@media screen and (max-width: 300px) {
    .a-under-300 {
        width: 100%;
        display: block !important;
        float: left !important;
    }
}